

/* UTILITY CLASSES */

.bold {
    font-weight: bold;
}

.name-fs {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.ppl-details-fs {
    font-size: .7rem;
    font-weight: 300;
    margin-block: 0.3rem;
}


/* BODY */ 

.body-class {
    padding: 2rem;
    background-color: rgb(230 230 230 / 35%);
}

/* TITLE */ 

.main-title {
    text-transform: uppercase;
    font-size: 1em;
    color: rgb(0 0 0 / 58%);
    font-weight: 500;
    align-self: flex-start;
}

/* MAIN */ 

#filter-to-right {
    margin-left: auto;
    grid-column-end: -1;
    align-self: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;   
}

.grid-main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, max-content));
    grid-auto-columns: 1fr;
    grid-template-rows: 3rem;
    grid-auto-rows: 9rem;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: flex-start;
    border-radius: .5rem;
    border: 1px solid #2017063d;
    cursor: pointer;
    transform: scale(1);
}
.card:hover,
.card:target,
.card:focus {
    transform: scale(1.1);
    transition: transform .25s ease;
}
/*Modal box queries*/

.name-fs-modal {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}
.ppl-details-fs-modal {
    font-size: .7rem;
    font-weight: 300;
    margin-block: 0.5rem;
    color: #766c6c;
}

.img-style {
    border-radius: 50%;
    width: 30%;
    margin: 1rem;
}

.img-style-modal {
    border-radius: 50%;
    margin-block: 1rem;
}

.dist-bar{
    border-top: 1px solid #00000047;
    width: 15rem;
    margin-block: 1rem;
}

/* Modal Box */ 

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: white;
    padding: 1.5rem 2.5rem;;
    border-radius: 0.5rem;
    
}
.modal-content:hover,
.modal-content:target,
.modal-content:focus,
.modal-content:active {
    border: 5px solid rgb(163, 204, 50);
    transition: border .25s ease;
}
.close-button {
    align-self: flex-end;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #d3d3d33d;
}

.close-button:hover {
    background-color: darkgray;
}

.arrow-right {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10%;

}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10%;
}

.arrow-left:hover,
.arrow-right:hover,
.arrow-left:focus,
.arrow-right:focus,
.arrow-left:active,
.arrow-right:active,
.arrow-left:target,
.arrow-right:target {
    border: 5px solid rgb(23 203 160);
    transition: border .25s ease;
}

.show-modal {
    visibility: visible;
    opacity: 1;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
    .grid-main {
        grid-template-columns: repeat(3, minmax(290px, max-content));
    }
}

@media (max-width: 700px) {
    .body-class {
        padding: 1rem;
    }
    .grid-main {
        grid-template-columns: repeat(1, minmax(290px, max-content));
        grid-auto-columns: 1fr;
        grid-template-rows: 2rem 2rem;
        gap: 1rem;
    }
    .arrow-right {
        left: 83%;
        font-size: 2rem;
    }
    .arrow-left {
        left: 17%;
        font-size: 2rem;
    }
}
@media (max-width: 400px) {
    .arrow-right {
        background-color: #1c16040f;
        left: 83%;
        font-size: 2rem;
    }
    .arrow-left {
        background-color: #1c16040f;
        left: 17%;
        font-size: 2rem;
    }
}