/* UTILITY CLASSES */

.bold {
    font-weight: bold;
}

.name-fs {
    font-size: 2rem;
}

/* BODY */ 

.body-class {
    padding: 2rem;
    background-color: rgb(230, 230, 230);
}

/* TITLE */ 

.main-title {
    text-transform: uppercase;
    font-size: 1.5em;
}

/* MAIN */ 

.main-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
}