

/* UTILITY CLASSES */

.bold {
    font-weight: bold;
}

.name-fs {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}
.ppl-details-fs {
    font-size: .7rem;
    font-weight: 300;
    margin-block: 0.3rem;
}

/* BODY */ 

.body-class {
    padding: 2rem;
    background-color: rgb(230 230 230 / 35%);
}

/* TITLE */ 

.main-title {
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 0 2rem 2rem;
    color: rgb(0 0 0 / 58%);
    font-weight: 500;
}

/* MAIN */ 

.main-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 18rem);
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(4, 7rem);
    grid-auto-rows: 1fr;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: .5rem;
    border: 1px solid #2017063d;

}
.img-style {
    border-radius: 50%;
    margin-right: 1rem;
}

/* Modal Box */ 

.modal {
    transform-origin: center;
    transform-box: fill-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    visibility: visible;
    opacity: 1;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transform-origin: center;
    transform-box: fill-box;
}

